<div class="text-center">
  <% count = @junk.count %>
  
  <% if @junk.count == 0 %>
    <h1>We're all out of Junk!</h1>
  
  <% else %>
    <h1>Check out all the Junk!</h1>
  
  <% end %>
  <br>

  <% @junk.sort_by {rand}.each do |j| %>
  <div class="junk_row">
    <div class="junk_box<%= [1,2,3].sample %> box_coord">
      <% if !j.name.empty? %>  
        <div class="junk_name"><a class="undercover" href="/junk/<%= j.id %>"><%= j.name %></a></div>
      <% end %>
      
      <% if !j.note.empty? %>  
        <div class="junk_notes"><a class="undercover" href="/junk/<%= j.id %>"><%= j.note_crop %></a></div>
      <% end %>

      <div class="junk_tag">
        <span class="tag tag-1"><%= j.tag.name %></span>
        <% if !j.url.empty? %>    
          <span><a href="<%= j.to_link %>" target="_blank">-- <%= j.url %></a></span>
        <% end %>
      </div>

      <div class="junk_foot">by <%= j.user.username %></div>
     
    </div>
  </div>
  <% end %>

</div>