<div class="text-center">
  
  <h1>Junk :: <%= @junk.id %></h1><br><br>
  
  <div class="show_box">
    
    <% if !@junk.name.empty? %>  
      <div class="junk_name"><%= @junk.name %></div>
    <% end %>

    <% unless @junk.image.blank? %> 
      <%= "<div class='junk_image'><img src='/uploads/#{@junk.image.url.match(/[^\/]+$/)[0]}'></div>" %>
    <% end %>
       
    <% if !@junk.note.empty? %>  
      <div class="junk_notes"><%= @junk.note %></div>
    <% end %>

    <div class="junk_tag">
      <span class="tag tag-1"><%= @junk.tag.name %></span>
      <% if !@junk.url.empty? %>    
        <span><a href="<%= @junk.to_link %>" target="_blank">-- <%= @junk.url %></a></span>
      <% end %>
    </div>
  
    <div class="junk_foot">
    <% if @junk.user_id != @user_id %>
        by <%= @junk.user.username %> 
    <% else %>
    
      <span class="show_box_edit">
      <a href="/junk/<%= @junk.id %>/edit">edit</a> :: 
      
      <form class ="form_inline" method="post" action="/junk/<%= @junk.id %>/delete"><input id="hidden" type="hidden" name="_method" value="delete"><input class="show_box_del" type="submit" value="delete"/></form>

    <% end %>
    </div>

  </div>
</div>